.container{
    animation: init 0.5s 0.3s both;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;

    .content{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 85%;
        height: 85%;
        background-color: #0e0e0e;
        border-radius: 10px;

        .close{
            transition: 0.2s;
            top: 30px;
            left: 95%;
            position: absolute;
            cursor: pointer;
            color: #AAA;

            &:hover{
                transition: 0.2s;
                color: #DDD;
                scale: 1.1;
            }
        }

        .projects{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 90%;

            .projectCard{
                transition: 0.3s;
                display: flex;
                flex-direction: column;
                padding-top: 50px;
                justify-content: flex-start;
                align-items: center;
                max-width: 28%;
                height: 100%;
                color: #AAA;
                font-family: 'Montserrat', sans-serif;
                text-align: center;

                img{
                    cursor: pointer;
                    width: 100%;
                    height: 70%;
                    object-fit: cover;
                }

                h3{
                    cursor: pointer;
                    font-family: 'Playwrite AU SA';
                    font-size: 2rem;
                    margin: 20px 0 0 0;
                }

                p{
                    cursor: pointer;
                    font-weight: 300;
                    margin: 10px 0 0 0;;
                }

                &:hover{
                    scale: 1.02;
                    filter: brightness(1.1);
                    transition: 0.3s;
                }
            }
        }
    }
    
}

@keyframes init {
    0% { background-color: transparent; }
    100% {background-color: #22222279; backdrop-filter: blur(5px);}
}