.container{
    animation: init 0.5s 0.3s both;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 85%;
        background-color: #070707;
        border-radius: 10px;
        cursor: pointer;
    }
}

@keyframes init {
    0% { background-color: transparent; }
    100% {background-color: #22222279; backdrop-filter: blur(5px);}
}