.parallax {
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;


    span {
        transition: .3s .1s;
        display: block;
        padding: 0.5rem;
        background-color:#222;  
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        letter-spacing: 2px;
        text-align: center;
        color: #eee;
        margin-right: 30px;
        margin: 0.2rem;
        border-radius: 5px;
        text-transform: uppercase;

        &:hover {
            transition: .3s;
            padding-inline: 1%;
            background-color: #f4f3ee;
            color: #222;
            cursor: pointer;
        }
    }

    .scroller {
        font-size: 1.5rem;
        display: flex;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
}