.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3vw;
    height: 10vh;
    width: 94vw;
    z-index: 2;
    position: fixed;
    background-color: #f4f3ee7e;
    backdrop-filter: blur(10px);

    h2{
        animation: initX .3s .3s both;
        cursor: default;
        text-align: center;
        font-weight: 800;
    }

    .title_options{
        display: flex; justify-content: space-between; align-items: center;
        width: 90%;

        .list, .contact{
            display: flex; justify-content: center; align-items: center;
            width: 10%;
        }

        .progress{
            height: 2px;
            border-radius: 10px;
            background-color: rgb(34, 33, 33);
            transform-origin: 0%;
            width: 78%;
        }

        a{
            transition: .3s;
            animation: initY .3s both;
            cursor: pointer;
            padding: .5em;
            font-weight: 600;
            color: #353535;
            text-decoration: none;

            &:hover{
                transition: .3s;
                background-color: #353535;
                color: #f4f3ee;
            }
        }
    }
}

@keyframes initX {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes initY {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}