.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-size: cover;
    background-position: top;
    color: #eee;

    .content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        backdrop-filter: blur(1px);
        background-color: #0505059d;
        border-radius: 15px;
        width: 100%;
        height: 100%;

        h2{
            font-size: 3rem;
            margin: 2rem 0 0 2rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
        }

        p{
            margin: .5rem 0 0 2.2rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
        }
    }
}