.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    padding-top: 10vh;

    .titlecontainer{
        position: absolute;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        h2{
            position: absolute;
            top: 0;
            margin: 0;
            margin-top: 3rem;
            padding: 0;
            color: #222;
            font-family: 'Montserrat', sans-serif;
            font-size: 5rem;
            font-weight: 800;
        }

        .stop{
            color: #2222226c;
            margin-top: 6rem;
            rotate: -5deg;
        }

        .sbottom{
            color: #2222226c;
            margin-top: 0rem;
            rotate: 5deg;
        }
    }

    .cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 100%;
        padding-left: 15%;
    }

}