.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-inline: 5%;
    height: 80vh;

    .dev, .soft, .front{
        color: #222;
        font-family: 'Archivo Black', sans-serif;
        font-size: 10rem;
        margin: 0.5rem;
    }

    .front{
        font-size: 9rem;
        width: 100%;
    }
    
    .devContainer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        .soft{
            margin-right: 2rem;
            font-size: 8rem;
            font-family: 'Playwrite AU SA', sans-serif;
        }
    }
}