.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 6%;
    height: 100vh;
    
    .devContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-left: 3px solid #222;
        padding-left: 5rem;
        width: auto;

        h1{
            margin-top: -1rem;
            margin-bottom: 0rem;
            padding: 0;
            font-size: 12rem;
            color: #070707;
        }
    }
}

@media screen and (max-width: 768px) {
    .container{
        margin-inline: 2%;
        height: auto;

        .devContainer{
            h1{
                font-size: 6rem;
                margin-bottom: -3rem;
            }
        }
    }
}